[submodule "3rd/windows-dl"]
	path = 3rd/windows-dl
	url = https://github.com/a1an1in/windows-dl.git
[submodule "3rd/mysql-connector-c"]
	path = 3rd/mysql-connector-c
	url = git@github.com:a1an1in/mysql-connector-c.git
[submodule "3rd/openssl"]
	path = 3rd/openssl
	url = git@github.com:a1an1in/openssl.git
